name: Image build and push

on:
  workflow_call:
    inputs:
      IMAGE_NAME:
        description: "The image name"
        type: string
        required: true
      VERSION:
        description: "The version of the CLI to build"
        type: string
        required: true
      ARCH:
        description: "The architecture to build"
        type: string
        required: true
      TARGET_PLATFORM:
        description: "The platform to build against"
        type: string
        required: true

jobs:
  build-push:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: ${{ inputs.TARGET_PLATFORM }}
          push: true
          provenance: false
          tags: ${{ inputs.IMAGE_NAME }}
          file: Dockerfile
          build-args: |
            VERSION=${{ inputs.VERSION }}
            ARCH=${{ inputs.ARCH }}
